stages:
  - test

image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/archlinux:base-devel

test:
  stage: test
  tags:
    - docker
    - linux
  script:
    - pacman -Sy --noconfirm --needed dbus rust
    - dbus-run-session cargo test
